# Ignore everything in the results folder
results/*

# Ignore everything in the inputs folder
inputs/*

graph.jpg
graph.pdf
growth.png
durations.pkl
counts.png

real_distances/drop_distance_matrix.csv
